
extends ../templates/activity_template.pug
prepend title
    | <title>Aproximaciones...</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M1.5/M1.5.md