
extends ../templates/activity_template.pug
prepend title
    | <title>Arquitectura Bioclimática. </title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M1.6/M1.6.md