
extends ../templates/activity_template.pug
prepend title
    | <title>Enfriamiento convectivo</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M1.8/M1.8.md