
extends ../templates/activity_template.pug
prepend title
    | <title>Olgyay</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M2.15/M2.15.md