
    extends ../templates/activity_template.pug
    prepend title
        | <title>Quiz de Olgyay</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M2.16/M2.16.md