
extends ../templates/activity_template.pug
prepend title
    | <title>rediseño</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M2.18/M2.18.md