
extends ../templates/activity_template.pug
prepend title
    | <title>Quiz!...</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M3.19/M3.19.md