
extends ../templates/activity_template.pug
prepend title
    | <title>Adecuaciones para 2 climas...</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M3.21/M3.21.md