
    extends ../templates/activity_template.pug
    prepend title
        | <title>2 climas</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M3.22/M3.22.md