
    extends ../templates/activity_template.pug
    prepend title
        | <title>GIVONI</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M3.20/M3.20.md