
    extends ../templates/activity_template.pug
    prepend title
        | <title>Quiz_CradletoCradle</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.29/M4.29.md