
    extends ../templates/activity_template.pug
    prepend title
        | <title>Trasferencia de calor </title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.37/M4.37.md