
extends ../templates/activity_template.pug
prepend title
    | <title>Transferencia de calor.</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M4.36/M4.36.md