
    extends ../templates/activity_template.pug
    prepend title
        | <title>Charles Correa</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.39/M4.39.md