
    extends ../templates/activity_template.pug
    prepend title
        | <title>Flujos</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.34/M4.34.md