
extends ../templates/activity_template.pug
prepend title
    | <title>Conductividad Térmica</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M4.35/M4.35.md