
    extends ../templates/activity_template.pug
    prepend title
        | <title>Protectores Solares</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.45/M4.45.md