
    extends ../templates/activity_template.pug
    prepend title
        | <title>Elementos espaciales y formales.</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.44/M4.44.md