
extends ../templates/activity_template.pug
prepend title
    | M4.48.html

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M4.48/M4.48.md