
    extends ../templates/activity_template.pug
    prepend title
        | <title>Utilizar el agua de lluvia.</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.42/M4.42.md