
    extends ../templates/activity_template.pug
    prepend title
        | <title>Aguas grises.</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.43/M4.43.md