
    extends ../templates/activity_template.pug
    prepend title
        | <title>Shading</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.54/M4.54.md