
    extends ../templates/activity_template.pug
    prepend title
        | <title>rosa</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.55/M4.55.md