
    extends ../templates/activity_template.pug
    prepend title
        | <title>PET</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M4.56/M4.56.md