
extends ../templates/activity_template.pug
prepend title
    | <title>aerogenerador eólico</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M4.53/M4.53.md