
extends ../templates/activity_template.pug
prepend title
    | <title>Repentina Sabatina... a trabajar!...</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M6.59/M6.59.md