
extends ../templates/activity_template.pug
prepend title
    | <title>3D DISPLAY MODEL del Solar Tool</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M8.66/M8.66.md