
extends ../templates/activity_template.pug
prepend title
    | <title>Grasshopper.</title>

block activity_content
    .mdl-grid
        .mdl-layout-spacer
            include:markdown-it pug_files/content/M8.65/M8.65.md