
    extends ../templates/activity_template.pug
    prepend title
        | <title>Roma, Chicago y Lima.</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M8.62/M8.62.md