
    extends ../templates/activity_template.pug
    prepend title
        | <title>Uso del ECOTECT</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M8.67/M8.67.md