
    extends ../templates/activity_template.pug
    prepend title
        | <title>Mecanismo de Desarrollo Limpio</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M9.69/M9.69.md