
    extends ../templates/activity_template.pug
    prepend title
        | <title>Ya presentaste el examen del LEED?...</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/M9.68/M9.68.md