
    extends ../templates/activity_template.pug
    prepend title
        | <title>Is.home.ligas</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/MP1.1/MP1.1.md