
    extends ../templates/activity_template.pug
    prepend title
        | <title>Ciudad Sustentable</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/MP2.2/MP2.2.md