
    extends ../templates/activity_template.pug
    prepend title
        | <title>H2O</title>

    block activity_content
        .mdl-grid
            .mdl-layout-spacer
                include:markdown-it pug_files/content/MP2.4/MP2.4.md